<!DOCTYPE html>

<html>
    <head>
        <title> Test Vocacional </title>
        <link rel='stylesheet' type='text/css' href='/styles.css'/>
        <link rel="icon" type="favicon/x-icon" href="/icon.png">
    </head>

    <body>
        <header id="header">
			<nav id="menu">
				<ul>
					<li><a href="/careers">CARRERAS</a></li>
					<li><a href="https://github.com/ENPera1994/AyDS-speedrun">CODIGO FUENTE</a></li>
				</ul>
			</nav>
		</header>
		<div id="banner">
			<h1 >Test Vocacional</h1>
		</div>
        <br>
		<br>
        <form action='/responses/<%= @survey_id.to_s %>' method='POST'>
            <% @questions.map do |question| %>
                <div id="question">
                    <a> <%= question.number %> <%= question.name %> </a> 
                    <a> <%= question.description %> </a> <br>
                </div>
                <br>
                <fieldset id="choice_id" name="choice_id[<%=question.id%>]"> <!--choice_id array is enumerated by 
                    question.id, but it stores choice.id values-->
                    <% question.choices.each do |choice| %> 
                        <input type='radio' id='choice_id' name='choice_id[<%=question.id%>]' checked='unchecked' value='<%=choice.id%>' required> 
                        <%=choice.text%>
                        <br>
                    <% end %>
                    <br> <br>
                </fieldset>
            <% end %>
            <button id='next' class='button' type='submit' name='survey_id' value='<%= @survey_id %>' > Finalizar 
            </button> <br> <br>
            <!--when pressing this button we should send choice ids of selected items and calculate the best career-->
        </form>
    </body>
</html>