<!DOCTYPE html>

<html>
    <head>
        <title> Test Vocacional </title>
        <link rel='stylesheet' type='text/css' href='/styles.css'/>
    </head>

    <body>
        <header id="header">
			<nav id="menu">
				<ul>
					<li><a href="/careers">CARRERAS</a></li>
					<li><a href="https://github.com/ENPera1994/AyDS-speedrun">CODIGO FUENTE</a></li>
				</ul>
			</nav>
		</header>
		<div id="banner">
			<h1 >Test Vocacional</h1>
		</div>
        <br>
		<br>
        <div id="pregunta">
            <a> <%= @question.number %> <%= @question.name %> </a> 

            <a> <%= @question.description %> </a> <br>
        </div>
        <form action='/responses/<%= @survey_id.to_s %>' method='POST'>
            <% @question.choices.each do |choice| %>
                    <input type='radio' name='choice_id' checked='checked' value=<%= choice.id %>>
                    <span class='checkmark'></span>
                    <%= choice.text %>
                    <br>
            <% end %>
            <button id='next' class='button' type='submit' name='question_id' value='<%= @question.id %>' > Siguiente </button> 
        </form>
        </div>
    </body>
</html>